.grid figure img,
.grid figure figcaption {
	border: 2px solid rgba(233, 221, 166, 0.851);
}

@keyframes grid-li-hover-1 {
	from {
		width: 33%;



	}

	to {
		width: 35%;

	}
}

@keyframes grid-li-hover-2 {
	from {
		width: 50%;



	}

	to {
		width: 55%;

	}
}

.grid li:hover {
	animation-duration: 1s;
	animation-name: grid-li-hover-1;

}

@media screen and (max-width: 624px) {
	.grid li:hover {
		animation-duration: 1s;
		animation-name: grid-li-hover-2;
	}

}

button.grid-gallery-button {
    background-color: var(--wpforms-button-background-color-alt, var(--wpforms-button-background-color));
    color: var(--wpforms-button-text-color);
	font-weight: 500;
	height: var(--wpforms-button-size-height);
	font-size: var(--wpforms-button-size-font-size);
}